# Misc
node_modules
dist
pnpm-lock.yaml

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Vitest
/coverage/
/vitest-report/
