:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--colorNeutralBackground1, #292929);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 880px;
  margin: auto;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
.prose {
  padding: 12px;
}

.prose p {
  margin-top: 8px;
}

.prose h2 {
  margin-top: 24px;
}

.prose h3 {
  margin-top: 16px;
}

.prose li {
  margin-top: 8px;
  margin-left: 32px;
}

.prose code {
  font-family: 'Nimbus Mono PS', Consolas, 'Courier New', Courier, monospace;
  font-weight: normal;
}
